header {
  background: #ffc10775;
  text-align: center;
  padding: 15px;
  position: sticky;
  width: 100%;
  top: 0;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
main div {
  display: flex;
  flex-direction: column;
}

main div h2 {
  text-align: center;
  display: flex;
  font-size: 35px;
  background: #9e9e9e1f;
  font-weight: bold;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
}
main div div h3 {
  text-align: center;
  font-size: 30px;
  background: #9e9e9e1f;
  padding: 67px;
  font-weight: bold;
}
main div div p {
  background: #9e9e9e1f;
  font-size: 18px;
  padding: 26px;
  font-weight: bold;
  text-align: center;
}
main div div {
  display: flex;
  flex-direction: column;
}
footer {
  background-color: #ffc10775;
  padding: 40px;
  text-align: center;
  font-size: xx-large;
}
.left {
  width: 50%;
  position: relative;
  left: 60px;
  line-height: 24px;
}
.right {
  width: 50%;
  position: relative;
  left: 127px;

  line-height: 24px;
}

#top-ten {
  display: flex;
  flex-direction: row;
  background: #9e9e9e1f;
  padding: 34px;
  font-size: 20px;
  /* color: ivory; */
  /* line-height: in */
}
img{
  width: 90%;
  margin: auto;
  height: 750px;
}